@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

/* == VARIBALES CSS == */
:root{

    /*== Colors ==*/

    --background-body: #577399;
    --first-color: #4960d4;
    --title-color: #0c1645;
    --text-color: #606785;
    --border-color: #d9ddf2;
    --body-color : #ebeeff;
    --container-color: #f0f2ff;
    --color-modal: #F0F2FF;

    /*== Font ==*/
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;



    /*== Font weight ==*/

    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
}


/* == STYLE BASE == */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--body-color);
    color: var(--first-color);
    transition: background-color .4s;
  }
  
  input,
  button {
    border: none;
    outline: none;
  }
  
  h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-medium);
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .container {
    max-width: 1220px;
    margin-inline: 1.5rem;
  }
  
  .grid {
    display: grid;
    gap: 1.5rem;
  }

  .section {
    padding-block: 5rem 1rem;
  }
  
  .section__title {
    text-align: center;
    font-size: var(--h1-font-size);
    font-family: var(--second-font);
    margin-bottom: 2rem;
  }

/* == HEADER == */
.header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    z-index: 100;
    transition: box-shadow 0.4s, background-color 0.4s;
}

/* == NAV == */
.nav{
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    color: var(--first-color);
    font-weight: var(--font-medium);
}

.nav_logo{
    font-size: 1.25rem;
}

/* == NAV FOR MOBILE == */
@media screen and (max-width: 1150px){
    .nav_menu{
        display: flex;
        justify-content: space-between;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: var(--container-color);
        box-shadow: 0 -8px 32px rgba(0,0,0,0.1);
        padding: 1.25rem 4rem;
        
    }
}
.nav_list{
    display: flex;
    justify-content: space-between;
}

.nav_link{
    color: var(--text-color);
    transition: color .4s;
}

.nav_link span{
    display: none;
}

.nav_link i{
    font-size: 1.25rem;
    color: #495867;
}

.nav_link:hover{
    color: var(--first-color);
}

.nav_action{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.nav_action i{
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
    transition: color .4s;
}

.nav_action i:hover{
    color: var(--first-color);
}

/*--SHADOW HEADER--*/
.shadow-header{
    box-shadow: 0 2px 16px hsla(0%, 0%, 0%, .1);
}


/*--SEARCH--*/
.search{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #fcfcfe;
    backdrop-filter: blur(16px);
    padding: 8rem 1.5rem;
    transition: top .4s;
}

.search_form{
    display: flex;
    align-items: center;
    column-gap: .5rem;
    background-color: var(--container-color);
    border: 2px solid var(--border-color);
    padding-inline: 1rem;
}

.search_icon{
    font-size: 1.25rem;
    color: var(--title-color);
}

.search_input{
    width: 100%;
    padding-block: 1rem;
    color: var(--text-color);
    background-color: var(--container-color);
    font-style: italic;
}

.search_close{
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
}
/*--show search JS--*/
.show-search{
    top: 0;
}

/*--show login JS--*/
.show-login{
    top: 0;
}

/*--LOGIN--*/
.login{
    position: fixed;
    top:-100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: var(--body-color);
    align-items: center;
    padding: 1.5rem;
    text-align: center;
    transition: top .4s;
}

.login_form{
    background-color: var(--container-color);
    padding: 2rem 1.5rem;
    border: 2px solid var(--border-color);
    row-gap: 1.25rem;
}

.login_title{
    font-size: 1.25rem;
}

.login_group{
    row-gap: 1.25rem;
}

.login_label{
    display: block;
    text-align: initial;
    color: var(--background-body);
    font-weight: var(--font-medium);
    margin-bottom: .25rem;
}

.login_input{
    width: 100%;
    background-color: #F0F2FF;
    border: 2px solid #bebec4;
    padding: 1rem;
    color: var(--title-color);
}

.login_signup,
.login_forgot{
    display: block;
    font-size: var(--small-font-size)
}

.login_signup{
    margin-bottom: .5rem;
    color: var(--title-color);
}

.login_signup a{
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.login_forgot{
    color: var(--title-color);
    margin-bottom: 1.25rem;
}

.login_button{
    width: 100%;
    cursor: pointer;
    color: var(--title-color);
    padding: 1rem 2rem;
}

.login_close{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
    color: #204B57;
    cursor: pointer;
}

/*--BUTTONS--*/
.button{
    display: inline-block;
    background-color: var(--background-body);
    color: white;
    font-weight: var(--font-medium);
    padding: 1rem 1.5rem;
    transition: box-shadow 0.4s;
}

/*--HOME--*/
.home_swiper{
    width: 100%;
    margin-top: 4rem;
}

.swiper-slide{
    display: flex;
    justify-content: end;
    align-items: self-start;
}

.home_container{
    padding-top: 6rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.home_data{
    text-align: center;
}

.home_title{
    font-size: 2.3rem;
    margin-bottom: 1rem;
}

.home_description{
    margin-bottom: 2rem;
    color: var(--text-color);
}

.home_button_discover{
    background-color: var(--background-body);
    padding: 1rem 2rem;
    color: white;
}

.home_images{
    display: grid;
}

.home_article,
.home_img{
    width: 220px;
    transition: scale .4s;
}

.home_article{
    scale: .8;
}

/*--SWIPPER CLASS--*/
.swiper-slide-active,
.swiper-slide-duplicate-active{
    scale:  1;
}

/*--SERVICES--*/
.services_container{
    row-gap: 3rem;
}

.services_card{
    text-align: center;
}

.services_card i{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--first-color);
    margin-bottom: 1rem;
}

.services_title{
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.services_description{
    margin-bottom: 2rem;
    color: var(--text-color);
}

/*--NEWBOOK--*/
.newBook{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.featured_description{
    font-size: 1.3rem;
    font-weight: var(--font-medium);
    margin-left: 1rem;
}
.newBook_title_container{
    font-size: 1.85rem;
    font-weight: 600;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.newBook_card{
    display: flex;
    flex-direction: column;
   justify-content: center;
    background-color: var(--container-color);
    padding: 2rem;
    overflow: hidden;
    border: 2px solid var(--border-color);
    transition: border .4s, var(--background-body);
}


.featured_newBook{
    margin-bottom: 1.5rem;
    background-color: #0c1645;
    color: white;
    padding: .8rem;
    border-radius: 25px;
    font-size: var(--normal-font-size);
}

.newBook_img{
    width: 150px;
    margin:  0 auto .75rem;
}

.newBook_title{
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.newBook_prices{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .75rem;
    margin-bottom: 1.20rem;
}

.newbook_discount{
    font-size: 1rem;
}

.newBook_actions{
    display: inline-flex;
    flex-direction: column;
    row-gap: .75rem;
    position: absolute;
    top: 2rem;
    right: -1.25rem;
    transition: right .4s;
}

.newBook_actions button{
    background: none;
    font-size: 1.25rem;
    color: var(--background-body);
    cursor: pointer;
}

.newBook_card:hover .newBook_actions{
    right: 1.5rem;
}

/*--DISCOUNT--*/
.discount_container{
    row-gap: 3rem;
}

.discount_data{
    text-align: center;
    margin-right: 1rem;
    margin-left: 1rem;
}

.discount_title{
    font-size: 1.85rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.discount_description{
    font-size: 1.3rem;
    font-weight: var(--font-medium);
    margin-bottom: 2rem;
    margin-left: 1rem;
}

.discount_images{
    display: flex;
    justify-content: center;
}

.discount-1,
.discount-2{
    width: 170px;
    margin-bottom: 4rem;
}

.discount-1{
    transform: translate(1rem) rotate(-10deg);
}

.discount-2{
    transform: translate(-1rem) rotate(10deg);
}

/*--JOINS--*/
.join_container{
    position: relative;
    padding-block: 3rem;
}

.join_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.join_title{
    color: white;
    position: relative;
    text-align: center;
    margin-bottom: 1rem;
}

.join_form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.join_input{
    position: relative;
    padding: 1.25rem 1rem;
    width: 35%;
    background-color: var(--body-color);
    color: var(--title-color);
}

.join_input::placeholder{
    padding: 1.25rem 1rem;
    width: 100%;
    background-color: var(--body-color);
    color: var(--title-color);
}

.join_button{
    position: relative;
    padding: 1.25rem;
    cursor: pointer;
}

/*--TESTIMONIAL--*/
.section_title{
    text-align: center;
    font-size: 1.85rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.testimonial_card{
    background-color: var(--container-color);
    border: 2px solid var(--border-color);
    width: 350px;
    padding: 2rem;
}

.testimonial_img{
    width: 100px;
    border-radius: 50%;
    margin: 0 auto 2rem;
}

.testimonial_data{
    display: flex;
    flex-direction: column;
}

.testimonial_title{
    font-size: var(--h2-font-size);
    margin-bottom: .75rem;
}

.testimonial_description{
    font-size: var(--h3-font-size);
    margin-bottom: 1.25rem;
    color: var(--background-body);
}

.testimonial_stars{
    color: var(--first-color);
}

/*--FOOTER--*/
.footer_data{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    padding: 1rem;
}

.footer_section{
text-align: center;
}


.footer_title{
    font-size: var(--h3-font-size);
    margin-bottom: 1.25rem;
}

.footer_links{
    display: grid;
    row-gap: .5rem;
    
}

.footer_link{
    color: var(--text-color);
    text-decoration: none;
    display: block;
}

.footer_link:hover{
    color: var(--first-color);
    text-decoration: underline;
}

.footer_links_social{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social {
    display: flex; /* Display icons in a row */
}

.social a {
    text-decoration: none;

    margin-right: 10px;
}

.social i {
    font-size: 20px;
}

/*--MEDIA QUERIES--*/

@media screen and (max-width: 320px) {
    .container{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .nav_menu{
        padding-inline: 3rem;
    }

    .discount-1,
    .discount-2{
        width: 45%;
    }

    .new_card{
        flex-direction: column;
    }

    .testimonial_card{
        padding-inline: 1rem;
    }

    .footer_data{
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
}

@media screen and (min-width: 576px) {
    .nav_menu {
        padding-inline: 2rem;
    }

    .discount-1,
    .discount-2 {
        width: 40%;
    }

    .newBook_card {
        padding: 1.5rem;
    }

    .testimonial_card {
        padding-inline: 1.5rem;
    }


}

@media screen and (min-width: 767px) {
    .nav_menu {
        padding-inline: 3rem;
    }

    .discount-1,
    .discount-2 {
        width: 30%;
    }

    .newBook_card {
        padding: 2rem;
    }

    .testimonial_card {
        padding-inline: 2rem;
    }

    .services_container{
        display: flex;
        justify-content: space-around;
        margin-bottom: 2rem;
    }
    .footer_data{
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (min-width: 992px) {
    .nav_menu {
        padding-inline: 4rem;
    }

    .discount-1,
    .discount-2 {
        width: 30%;
    }

    .newBook_card {
        padding: 2.5rem;
    }

    .testimonial_card {
        padding-inline: 2.5rem;
    }

    
}

